<h1>Welcome <%= @user.name %></h1>
<a href="/users/<%= @user.id %>/edit">Edit Profile</a>

<div>
	<h2>Secrets</h2>
	<% @user.secrets.each do |secret| %>
		<p><%= secret.content %></p>
		<p><%= secret.likes.count %> likes</p>
		<form action='/secrets/<%= secret.id %>' method='post'>
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<input type='hidden' name='_method' value='delete'>
			<input type='submit' value='Delete'>
		</form>
	<%end%>
	<br>
	<form action='/secrets/<%= @user.id %>/new' method='post'>
		<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		<label for='new_secret'>New Secret</label>
		<input id='new_secret' type='text' name='new_secret'>
		<input type='submit' value='Create Secret'>
	</form>
</div>